* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

main {
  padding-top: 20px;
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0px;
}

label {
  display: inline-block;
}

input,
select {
  display: block;
  width: 100%;
  height: 34px;
  margin: 8px 0;
  padding: 4px 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.form-label {
  font-size: 1.8rem;
  font-weight: 600;
}

.form-control {
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 500;
}

.btn {
  padding: 10px 28px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.btn.btn-form {
  margin-top: 15px;
}

.btn.btn-primary {
  background: #086ee2;
}

.btn.btn-success {
  background: #068a1c;
}

.btn.btn-danger {
  background: #e20808;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 8px 8px;
}

.todo {
  border-radius: 8px;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
